<div id="page-top">
<div  class="container-fluid">
    <h3 class="text-dark mb-4">Fiche de renseignement</h3>
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="assets/img/ea484409-b666-4058-b945-3ce53fc24735.jpg" width="160" height="160">
                    <div class="mb-3"><label class="form-label">Omar Benhamida</label></div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0"><br><strong>Informations professionnels</strong><br><br></h6><div class="card-body">
<div class="row">
<div class="col">
<div class="mb-3"><label class="form-label" for="username"><strong>Matricule :  </strong></label>
<div><label class="form-label" for="username"><strong>XR325099</strong></label></div>
</div>
</div>
</div>
<div class="row">
<div class="col">
<div class="mb-3"><label class="form-label" for="username"><strong>Date D&#39;embauche :  </strong></label>
<div><label class="form-label" for="username"><strong>dd/MM/yyyy</strong></label></div>
</div>
</div>
</div>
<div class="row">
<div class="col">
<div class="mb-3"><label class="form-label" for="username"><strong>Fonction :  </strong></label>
<div><label class="form-label" for="username"><strong>dd/MM/yyyy</strong></label></div>
</div>
</div>
</div>
<div class="row">
<div class="col">
<div class="mb-3"><label class="form-label" for="username"><strong>Date Fin de contrat :  </strong></label>
<div><label class="form-label" for="username"><strong>dd/MM/yyyy</strong></label></div>
</div>
</div>
</div>
</div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row mb-3 d-none">
                <div class="col">
                    <div class="card textwhite bg-primary text-white shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card textwhite bg-success text-white shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Informations Personnelles</p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>Nom :&nbsp;</strong></label>
                                            <div><label class="form-label" for="username"><strong>Benhamida</strong></label></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>Prénom:&nbsp;</strong></label>
                                            <div><label class="form-label" for="username"><strong>Omar</strong></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>Email :&nbsp;&nbsp;</strong></label>
                                            <div><label class="form-label" for="username"><strong>Omar.benhamida@gmail.com</strong></label></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>Tél :&nbsp;</strong></label>
                                            <div><label class="form-label" for="username"><strong>+212661811722</strong></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>Date de Naissance :&nbsp;&nbsp;</strong></label>
                                            <div><label class="form-label" for="username"><strong>dd/MM/yyyy</strong></label></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>Adresse :&nbsp;</strong></label>
                                            <div><label class="form-label" for="username"><strong>lot --------</strong></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>N° Sécurité social:&nbsp;&nbsp;</strong></label>
                                            <div><label class="form-label" for="username"><strong>J14685654</strong></label></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>CIN :&nbsp;</strong></label>
                                            <div><label class="form-label" for="username"><strong>AA14654</strong></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>Groupe&nbsp; Sanguin:&nbsp;&nbsp;</strong></label>
                                            <div><label class="form-label" for="username"><strong>A+</strong></label></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>Sexe :&nbsp;</strong></label>
                                            <div><label class="form-label" for="username"><strong>Homme</strong></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>Statut familial :&nbsp;&nbsp;</strong></label>
                                            <div><label class="form-label" for="username"><strong>C'est compliqué</strong></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
        </div>
    </div>
    <div class="card shadow mb-5"></div>
</div>

<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/theme.js"></script>
</div>